<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aktivacija naloga</title>
</head>

<body style="font-family: 'Montserrat'">
  <div style="width: 100%; margin: 2rem auto;">
    <div style="background: #111111; width: 40rem; margin: 2rem auto;">
      <div style="color: #EEEEEE; font-weight: bold; background: #111111;">
        <h2 style="margin: 0; padding: 1.2rem;">Aktivacija naloga</h2>
      </div>
      <div style="margin: 0; background: #111111; padding: 1.2rem; color: #EEEEEE; display: block;">
        <p style="margin: 0; margin-bottom: 1.5rem; font-size: 1rem">Pozdrav, {{ username }}. Kako biste uspešno
          verifikovali i aktivirali svoj nalog, kliknite na dugme ispod.</p>
        <p>{{URL}}</p>
        <a href="{{ URL }}"
          style="font-weight 'bold'; text-decoration: none; color: #EEEEEE; background: #111111; margin: 1rem auto; padding: 0.5rem 2rem; border-radius: .5rem; text-align: center; box-shadow: 0 3px 3px 2px rgb(20, 20, 20);">Aktivirajte</a>
        <br />
        <br />
        <small style="color: #777777; text-align: center">Gagin Berberaj</small>
      </div>
    </div>
  </div>
</body>

</html>