<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot your password</title>
</head>

<body>
  <div style="width: 100%; margin: 2rem auto;">
    <div style="background: #141414; width: 40rem; margin: 2rem auto;">
      <div style="color: rgb(245, 152, 167); font-family: 'Cunia'; background: #141414;">
        <h2 style="margin: 0; padding: 1.2rem;">Reset your password</h2>
      </div>
      <div style="margin: 0; background: #eeeeee; padding: 1.2rem; color: #141414; display: block;">
        <p style="margin: 0; margin-bottom: 1.5rem; font-family: 'Mukta'; font-size: 1rem">If you hadn't requested reset
          password, please ignore the message. Otherwise, click on the link below to proceed with reseting your
          password.</p>
        <p>exp://192.168.0.15:19000/--/reset-password</p>
        <a href="exp://192.168.0.15:19000/--/reset-password"
          style="font-family: 'Cunia'; text-decoration: none; color: rgb(245, 152, 167); background: #141414; margin: 1rem auto; padding: 0.5rem 2rem; border-radius: .5rem; text-align: center; box-shadow: 0 3px 3px 2px rgb(20, 20, 20); cursor: 'pointer';">Reset</a>
        <br />
        <br />
        <small style="color: #777777; font-family: 'Mukta'">La Vita</small>
      </div>
    </div>
  </div>
</body>

</html>